main {
    height: 100%;
    background: #fff;
   
}

.column{
    background-color: #dedede;
    width: 95%;
    min-height: 200px;
    height: calc(100vh - 35px);
    overflow-x: hidden;
    border-radius: 5px;
    padding: 10px;
}

.column > .row{
    height: calc(100% - 40px);
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 0px;
}

.card{
    opacity: 1;
    background-color: #fbfbfb;
    cursor: pointer;
}


.card:hover{
    opacity: 0.75;
}

h3{
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #7f7f9c;
}